html {
background-color: #E8FFF6;
box-sizing: border-box;
}

*,*:before,*:after {
box-sizing: inherit;
}

body {
padding: 0;
margin: 5px 15px 60px 15px;
width: 100%;
height: auto;
}


.container {
margin:0 auto;
width: 1450px;
}

.logoandheader {
  margin:0 auto;
display: flex;
align-items: flex-start;
justify-content: flex-start;
border: solid black 1px;
height: 38px;
}

.logoarea {
width: 62px;
height: 46px;
}

#logo {
width: 105%;
}

.header h2 {
margin: 0;
}

.mainarea {
  margin:0 auto;
width: 1450px;
border-top: 0;
border-left: solid black 1px;
border-right: solid black 1px;
border-bottom: solid black 1px;
}

.title{
  font-size:35px;
  padding-top: 50px;
  background-color:#ffe3f9;
  padding-left:50px;
}

.text{
  font-size:23px;
  box-sizing: border-box;
  color:black;
  border: solid black 2px;
  background-color:#FFC1E0;
  width:1000px;
  height:550px;
  text-align: center;
  margin: 0 auto;
  padding-top:12px;
  margin-top:50px;
}

.photos{
  padding-top:50px;
  display: flex;
  align-items:center;
  justify-content: space-around;  
  background-color:#ffe3f9;
}

#photo{ 
  box-shadow: 1px 1px 10px 1px;
  width: 60%;
  background-color:#ffe3f9;
  margin-left:55px;
}

.introduction{
  background-color:#ffe3f9;

}

.back{
  background-color:#ffffff;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
  border: solid black 1px;
  width:70px;
  height:30px;
  padding-top: 2px;
}



